body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0.5% 1%;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 98%;
  min-height: 67px;
  z-index: 1000;
  background-color: white;
}

header a{
  text-decoration: none;
  color: black;
}

.logo-header{
  display: flex;
  align-items: center;
}

.logo-header-img{
  width: 80px;
  height: 60px;
}

.menu-img{
  cursor: pointer;
}

.logo-name{
  position: absolute;
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-header{
  margin-right: 20px;
}

.search-header{
  display: flex;
  align-items: center;
}

.searchbox{
  border: 2px solid black;
  padding: 5px;
  position: relative;
  border-radius:20px;
  height: max-content;
  width: 300px;
}

.search-input{
  border: none;
  outline: none;
  height: 27px;
  font-size: larger;
  width: 81%;
  background-color: transparent;
}

.search-img{
  position: absolute;
  left: 87%;
  top: 5px;
  cursor: pointer;
}

.cart-img{
  height: 40px;
}

.order-header, .cart-header{
  position: relative;
  margin-left: 20px;
}

.order-img{
  height: 40px;
}

.order-name{
  position: absolute;
  top: 40px;
  left: -3px;
  font-weight: bold;
}
.cart-name{
  position: absolute;
  top: 40px;
  left: 10px;
  font-weight: bold;
}

.cart-quantity{
  position: absolute;
  top: 11px;
  left: 16px;
  font-weight: bold;
}

main{
  display: flex;
  width: 100%;
  padding-top: 5.4%;
}

main a{
  text-decoration: none;
  color: black;
}
.sidebar a:hover,.sidebar-category ul li:hover{
  font-size: 20px;
}

.sidebar{
  width: 15%;
  height: 100%;
  position: fixed;
  border-right: 1px solid black;
  padding: 1%;
  display: none;
}
.sidebar-on{
  display: block;
}

.sidebar-category{
  margin-bottom: 15px;
}

.category-name{
  margin: 0;
  margin-bottom: 2px;
}

.container{
  width: 100%;
}
.container-off{
  padding-left: 17%;
}
.sidebar-category ul{
  margin: 0;
}

.sidebar-category ul li{
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar-cart-orders h4,.sidebar-footer h4{
  margin: 0;
  margin-bottom: 3px;
  display: inline-block;
}

.sidebar-img{
  width: 25px;
  height: 25px; 
  margin-right: 3px; 
}

.sidebar-cart-orders a,.sidebar-footer a{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.sidebar-footer{
  margin-top: 390px;
}

.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
  
.product-container {
  padding:25px 25px 25px 25px;

  border-right: 1px solid rgb(172, 171, 171);
  border-bottom: 1px solid rgb(172, 171, 171);

  display: flex;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

select{
  cursor: pointer;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(6, 125, 98);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}
.product-spacer a{
  text-decoration: underline;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;

  opacity: 0;
  transition: 0.3s ease-out;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button ,.buy-now-btn{
  width: 49%;
  height: 40px;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;  
}

.buy-now-btn{
  background-color: green;
  color: white;
  border: none;
}

@media (max-width: 1400px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .login-header{
    display: none;
  }
  main{
    padding-top: 7%;
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  main{
    padding-top:10%;
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-img{
    width: 30px;
  }
  .logo-name{
    display: none;
  }
  .logo-header-img{
    width: 60px;
    height: 40px;
  }
  .searchbox{
    width: 200px;
  }
  .cart-img{
    height: 30px;
  }
  .order-img{
    height: 30px;
  }
  .order-name,.cart-name{
    display: none;
  }
  .cart-quantity{
    top: -7px;
    left: 12px;
  }
  .sidebar{
    width: 40%;
    background-color: white;
    padding-top: 10%;
  }
  .container-off{
    padding-left: 0px;
  }
  .sidebar-footer{
    margin-top: 580px;
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  main{
    padding-top:13%;
  }
}